@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html, body{
    width: 100dvw;
    height: 100dvh;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    display: none;
}

:root{
    --color-bg:rgb(240 225 194);
    --color-primary: rgb(149 96 54);
    --color-primary-hover: rgba(149, 97, 54, 0.808);
    --color-secundary: rgb(59 83 35);
}

#container-main{
    background-image: url(/img/imgBG2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.content-main{
    width: 100%;
    margin: 20px 0px;
    background-color: var(--color-bg);
    border-radius: 20px;
    border: none;
    opacity: 80%;
}
.content-main #container-logo{
    display: flex;
    justify-content: center;
}
.content-main figure{
    text-align: center;
}
.content-main figure img{
    width: 24rem;
    height: 24rem;
    border-radius: 50%;
    padding: 20px 0px;
}

#container-header{
    padding: 30px 20px;
}
#container-header h1{
    color: var(--color-primary);
    font-family: "Inter", serif;
    font-weight: 800;
    font-size: 2.5rem;
}
#container-header p{
    padding-left: 10px;
    font-family: "Inter", serif;
    font-weight: 500;
}
#container-header p span{
    color: brown;
    font-family: "Inter", serif;
    font-weight: 900;
}

#container-form{
    padding: 30px 20px;
}
.content-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.item1{
    display: flex;
}
.form-item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-right: 2rem;
    margin-bottom: 1rem;
}
.item1 .form-item p{
    font-family: "Inter", serif;
    font-weight: 400;
    padding-left: 10px;
}
#container-form .content-form label{
    font-family: "Inter", serif;
    font-weight: 600;
    color: var(--color-secundary);
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
}
.item1 .form-item .nome{
    width: 630px;
    font-family: "Inter", serif;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 0.5rem;
    color: var(--color-primary);
    border: 0;
    border-radius: 10px;
    padding: 0.5rem;
    
}
.item1 .form-item .data{
    width: 300px;
    font-family: "Inter", serif;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 0.5rem;
    color: var(--color-primary);
    border: 0;
    border-radius: 10px;
    padding: 0.5rem;
}

.item1 .form-item .telcel{
    width: 300px;
    font-family: "Inter", serif;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 0.5rem;
    color: var(--color-primary);
    border: 0;
    border-radius: 10px;
    padding: 0.5rem;
}

.item1 .form-item .telfix{
    width: 300px;
    font-family: "Inter", serif;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 0.5rem;
    color: var(--color-primary);
    border: 0;
    border-radius: 10px;
    padding: 0.5rem;
}
.item1 .form-item .email{
    width: 450px;
    font-family: "Inter", serif;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: lowercase;
    line-height: 0.5rem;
    color: var(--color-primary);
    border: 0;
    border-radius: 10px;
    padding: 0.5rem;
}
.item1 .form-item .email{
    width: 450px;
    font-family: "Inter", serif;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: lowercase;
    line-height: 0.5rem;
    color: var(--color-primary);
    border: 0;
    border-radius: 10px;
    padding: 0.5rem;
}
.item1 .form-item .contato1tecel{
    width: 300px;
    font-family: "Inter", serif;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: lowercase;
    line-height: 0.5rem;
    color: var(--color-primary);
    border: 0;
    border-radius: 10px;
    padding: 0.5rem;
}
.item1 .form-item .contato2tecel{
    width: 300px;
    font-family: "Inter", serif;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: lowercase;
    line-height: 0.5rem;
    color: var(--color-primary);
    border: 0;
    border-radius: 10px;
    padding: 0.5rem;
}

.cadastrar{
    width: 300px;
    font-family: "Inter", serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--color-bg);
    background-color: var(--color-primary);
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
}
.cadastrar:hover{
    background-color: var(--color-primary-hover);
    color: white;
}

@media only screen and (max-width: 26.875rem){
    #container-logo figure img{
        width: 100dvw;
        height: 100dhw;
    }

    .item1{
        flex-direction: column;
        text-align: center;
    }
    #container-header h1{
        font-size: 2rem;
    }

    .item1 .form-item .nome{
        width: 300px;
    }
    .item1 .form-item .email{
        width: 300px;
    }
    .item1 .form-item .contato1tecel{
        width: 300px;
    }
    .item1 .form-item .contato2tecel{
        width: 300px;
    }
}